

/* shraddha styling - begins */
.headercolor{
    background-color: dodgerblue;
    height: 50px;
   -webkit-text-fill-color: white;
    
}
.sidebar{
    background-color:black;
    height: 1200px;
    -webkit-text-fill-color: white;
}
.list-group{
     -webkit-text-fill-color:black;
}
.bg-aqua{
    background-color:deepskyblue;
    height: 80px;
    width: 220p;
    -webkit-text-fill-color: white;
}
.bg-green{
     background-color:green;
    height: 80px;
    width: 220p;
   -webkit-text-fill-color: white;
   
}
.bg-orange{
     background-color:orange;
    height: 80px;
    width: 220p;
    -webkit-text-fill-color: white;   
}
.bg-red{
    background-color:red;
    height: 80px;
    width: 220p;
    -webkit-text-fill-color: white;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}



.smallbox_bgaqua{
    background-color: aqua;
    width:100%
}
.smallbox_bggreen{
    background-color: green;
    width:100%
}
.smallbox_bgyellow{
    background-color: yellow;
    width:100%
}
.smallbox_bgred{
    background-color: red;
    width:100%
}

/* Rakesh Styling */
.small-box_bg-aqua{
    background-color: aqua;
    width:100%
}
.small-box_bg-green{
    background-color: green;
    width:100%
}
.small-box_bg-yellow{
    background-color: yellow;
    width:100%
}
.small-box_bg-red{
    background-color: red;
    width:100%
}
.ng-binding{
    -webkit-text-fill-color:green;
}
.btn{
    background-color:blue;
    border-color: white;
}

.box-header.with-border {
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
    color: white;
    background:cornflowerblue;
    background-color:cornflowerblue;
    height: 50px;

   
}
.box-header-btm{
     border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
   
}
.col-md-6-header{
    border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
     color: white;
    background:cornflowerblue;
    background-color:cornflowerblue;
    height: 50px;
    width: 410px;

}
.col-md-6-btm{
     border-bottom: 1px solid blue;
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
     width: 410px;
}
.login-box {
    width: 400px;
    height: 258px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
     text-align: center;
}
.login-box-body {
    color:black;
    background:lightgray;
    padding: 20px;
    border-top: 0px;

}

    

.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #777;
}

.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.glyphicon {
    position: absolute;
    top: 1opx;
    float: left;
    left: 310px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
}
.logout-header{
     position: absolute;
     float: left;
     left: 945px;
     top: 10px;
    -webkit-text-fill-color:darkblue;
    
}
.vendor-ok{
    background-color: blue;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 0;
}
.vendor-cancel{
    background-color:darkorange;
    display: inline-block;
    margin-bottom: 0;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    margin-bottom: 0;
}
.head-rapid{
    font-size: x-large;
}



