

/* shradda styling - begins */
.headercolor{
    background-color: mediumslateblue;
    height: 50px;


}
.sidebar{
    background-color:gray;
    height: 1200px
}

/* shradda styling - end */

.smallbox_bgaqua{
    background-color: aqua;
    width:100%
}
.smallbox_bggreen{
    background-color: green;
    width:100%
}
.smallbox_bgyellow{
    background-color: yellow;
    width:100%
}
.smallbox_bgred{
    background-color: red;
    width:100%
}

/* Rakesh Styling */
.small-box_bg-aqua{
    background-color: aqua;
    width:100%
}
.small-box_bg-green{
    background-color: green;
    width:100%
}
.small-box_bg-yellow{
    background-color: yellow;
    width:100%
}
.small-box_bg-red{
    background-color: red;
    width:100%
}

