

/* shradda styling - begins */
.headercolor{
    background-color: mediumslateblue;
    height: 50px;
   -webkit-text-fill-color: white;
    
}
.sidebar{
    background-color:black;
    height: 1200px;
    -webkit-text-fill-color: white;
}
.list-group{
     -webkit-text-fill-color:black;
}
.bg-aqua{
    background-color:deepskyblue;
    height: 80px;
    width: 220p;
}
.bg-green{
     background-color:green;
    height: 80px;
    width: 220p;

}
.bg-orange{
     background-color:orange;
    height: 80px;
    width: 220p;
}
.bg-red{
    background-color:red;
    height: 80px;
    width: 220p;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

/* shradda styling - end */

.smallbox_bgaqua{
    background-color: aqua;
    width:100%
}
.smallbox_bggreen{
    background-color: green;
    width:100%
}
.smallbox_bgyellow{
    background-color: yellow;
    width:100%
}
.smallbox_bgred{
    background-color: red;
    width:100%
}

/* Rakesh Styling */
.small-box_bg-aqua{
    background-color: aqua;
    width:100%
}
.small-box_bg-green{
    background-color: green;
    width:100%
}
.small-box_bg-yellow{
    background-color: yellow;
    width:100%
}
.small-box_bg-red{
    background-color: red;
    width:100%
}

