<div class="register-logo">
		<b> Register a New Anchor membership</b>
</div>
<uib-accordion-heading>
        Anchor Personal Details
</uib-accordion-heading>
<form name="anchorPersonalDetails" class="form-horizontal">
    <div class="box-body">
	<div class="form-group">
<div class="form-group">
    <label for="anchorName">Anchor Name</label>
        {{input type="text" class="form-control" id="anchorName" placeholder="Name" value=post.myname}}
 </div>
 <div class="form-group">
    <label for="anchorEmail">Anchor Email ID</label>
        {{input type="text" class="form-control" id="anchorName" placeholder="Email" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorMobileno">Anchor Mobile No</label>
        {{input type="text" class="form-control" id="anchorName" placeholder="Mobile Number" value=post.myname}}
 </div>
 </div>
 </div>
</form>

 <uib-accordion-heading>
Anchor Bank Details
 </uib-accordion-heading>

 

