<div class="content-wrapper">
  
 
 
<div class="register-logo">
        <h1>Anchor Sign Purchase Order</h1>
      </div>
      
    {{models-table
        data=model
        columns=columns}}

    
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="renderAnchorProgramDetails(select.optradio)">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancelSelect()">Cancel</button>
    </div>
    
    </div>