<h1>Anchor Payment Status</h1>



<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box_bg-aqua">
                <div class="inner">
                    <h3>150</h3>
                        <p>Number of Anchor programs</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box_bg-green">
            <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Number of POs raised</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box_bg-yellow">
            <div class="inner">
                <h3>44</h3>
                    <p>Number of invoices issued</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box_bg-red">
            <div class="inner">
                <h3>65</h3>
                    <p>Number of invoices pending acceptance</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
        </div>
    </div>
</div>
