<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  
    <h1>Anchor Program Initiation</h1>

<div class="row">
        <div class="col-md-6">
        <div class="smallbox_bgaqua">
          <div class="inner">
            <h3>123456546</h3>
            <p>Number of Anchor programs</p>
          </div>
         </div>
         </div>    



        <div class="col-md-6">
        <!-- small box -->
        <div class="smallbox_bggreen">
          <div class="inner">
            <h3>3</h3>

            <p>Number of POs raised</p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <!--<a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>-->
            </div>
            </div>


</div>

<div class="row">

    <div class="col-md-6">
        <div class="smallbox_bgyellow">
          <div class="inner">
            <h3>1</h3>
            <p>Number of invoices issued</p>
          </div>
          </div>
    </div>

    <div class="col-md-6">
        <!-- small box -->
        <div class="smallbox_bgred">
          <div class="inner">
            <h3>2</h3>
            <p>Number of invoices pending acceptance</p>
          </div>
        </div>
    </div>

</div>


<div class="col-sm-12" style="padding: 0 0 10px 0;">
      <button class="btn btn-primary btn-md">Create Anchor Program </button>
      {{anchorProgramId}}
</div>
    
<div class="row">
      <div class="col-md-6">
        <div class="box box-primary box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Vendors</h3>
            <div class="box-tools" style="margin-right: 45px">
              <div class="input-group input-group-sm" style="width: 250px;">
                {{input type="text" name="table_search" class="form-control" placeholder="Search By Vendor Name"}}
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
        </div>
          </div>
     
      <div class="col-md-6">
        <div class="box box-primary box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Vendors</h3>
            <div class="box-tools" style="margin-right: 45px">
              <div class="input-group input-group-sm" style="width: 250px;">
                <input type="text" name="table_search" class="form-control pull-right" ng-model="searchVendor.VendorFirstName" placeholder="Search By Vendor Name">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
              </button>
            </div>
          </div>
    </div>
    </div>
    </div>
          

       
    

    <div class="row">
      <div class="col-sm-12" style="padding: 0;">
        <div class="col-sm-6">
          <button class="btn btn-primary btn-md">Cancel</button>
        </div>
        <div class="col-sm-6 text-right">
          <button class="btn btn-primary btn-md">Update Anchor Program </button>
        </div>
      </div>
    </div>



</div>
