
  
 
 
<div class="register-logo"><br><br>
        <h1 align="center">Anchor Sign Purchase Order</h1>
      </div>
    <div class="col-sm-11">
    {{models-table
        data=model
        columns=columns}}

    </div>
   <br>
   <br>
   <br>
   <div class="col-sm-12">
    <div class="col-sm-6">
      <div class="anchor-ok">
        <button type="submit">ok</button>
        </div>
        </div>
        <br>
       <div class="anchor-cancel">
         <button type="submit">cancel</button>
</div>
    </div>
 