<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Anchor Program Pending</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Your Page Content Here -->
 <div class="row">
      
      <div class="col-md-6">
           <div class="smallbox_bgaqua">
            <div class="inner">
            <h3>150</h3>
            <p>Number of Anchor Programs</p>
          </div>
        </div>
      </div>
     
      <div class="col-md-6">
        <div class="smallbox_bggreen">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Programs Pending</p>
          </div>
          
        </div>
      </div>
   </div>

   <div class="row">   
      <div class="col-md-6">
              <div class="smallbox_bgyellow">
          <div class="inner">
            <h3>44</h3>

            <p>Payments made to Vendors</p>
          </div>       
        </div>
      </div>
      <!-- ./col -->
      <div class="col-md-6">
         <div class="smallbox_bgred">
          <div class="inner">
            <h3>65</h3>

            <p>Payments to be settled by Anchor</p>
          </div>
          
        </div>
      </div>
  </div>
  
  <div class="row">

      <!-- ./col -->
      <div class="col-md-6">
        <!-- small box -->
        <div class="smallbox_bgaqua">
          <div class="inner">
            <h3>150</h3>

            <p>Average Settlement Time</p>
          </div>
          </div>
      </div>

      <div class="col-md-6">
        <!-- small box -->
        <div class="smallbox_bggreen">
          <div class="inner">
            <h3>53<sup style="font-size: 20px">%</sup></h3>

            <p>Programs Completed</p>
          </div>
         </div>
      </div>
    </div>
    <!-- Default box -->

   
        {{models-table
        data=model
        columns=columns}}<br>
     
     </section>
  <!-- /.content -->
</div>
