<div class="register-logo"><br><br>
        <h1 align="center">Anchor Invoice Acceptance</h1>
      </div>

      <div class="box-tools" style="float: right">
        <div class="input-group input-group-sm" style="width: 250px;">
          <input type="text" name="table_search" class="form-control pull-right" ng-model="search.anchorprogramID" placeholder="Search By Anchor Program Id">

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>

    <table class="table table-striped" id="tblGrid">
        
          <tr>
            <th>Anchor Program Id</th>
            <th>Vendor Name</th>
            <th>Invoice Id</th>
            
          </tr><br>
   
          <tr>
            <td>Anchor Program Id</td>
            <td>Vendor Name</td>
            <td>Invoice Id</td>
          </tr>
            

          <tr>
            <td>Anchor Program Id</td>
            <td>Vendor Name</td>
            <td>Invoice Id</td>
            
          </tr>
   

         
     

</table>
 
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="renderAnchorInvoiceDetails(select.optradio);renderVendorInvoicePDF(select.optradio)">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancelSelect()">Cancel</button>
    </div>



  

