<div class="content-wrapper">
 <section class="content-header">
    <h1>Anchor Payment Status</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol>
  </section>

<section class="content">
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <div class="small-box_bg-aqua">
                <div class="inner">
                    <h3>150</h3>
                        <p>Number of Anchor programs</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box_bg-green">
            <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>
                    <p>Number of POs raised</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box_bg-yellow">
            <div class="inner">
                <h3>44</h3>
                    <p>Number of invoices issued</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <div class="small-box_bg-red">
            <div class="inner">
                <h3>65</h3>
                    <p>Number of invoices pending acceptance</p>
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
        </div>
    </div>
</div>


<div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Payment Status</h3>
       
    <div class="box-tools">
              <select>
      <option value="select">Select</option>
       <option value="select">1</option>
        <option value="select">2</option>
   </select>
   

            </div>

{{models-table
        data=model
        columns=columns}}<br>

     
    <div class="box-body no-padding">
            <table class="table">
         <tr style="color: green; font-weight: bold;">
                <td></td>
                <td></td>
                <td>Total : 12,121</td>
                <td>Total : 12,121</td>
                <td></td>
              </tr>
        </table>                
</div>
</div>
          </div>
        </div>
      </div>


</section>
</div>
