<br><br>
<div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content">
      <!-- Your Page Content Here -->
      <div class="row">
         <div class="col-sm-6">
            <!-- small box -->
            <div class="smallbox_bgaqua">
               <h3>150</h3>
               <p>Number of Anchor programs</p>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="smallbox_bggreen">
               <div class="inner">
                  <h3>53<sup style="font-size: 20px">%</sup></h3>
                  <p>Number of POs raised</p>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-6">
            <div class="smallbox_bgyellow">
               <h3>44</h3>
               <p>Number of invoices issued</p>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="smallbox_bgred">
               <h3>65</h3>
               <p>Number of invoices pending acceptance</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-6">
            <div class="box">
               <div class="box-header with-border">
                  <h3 class="box-title">Live Stats</h3>
               </div>
               <div class="box-body no-padding">
                  <div class="col-sm-6">
                     <!-- small box -->
                     <div class="smallbox_bgaqua">
                        <h3 style="text-align: center">#647</h3>
                        <h4 style="text-align: center">Current Block</h4>
                     </div>
                  </div>
               </div>
               <div class="col-sm-3 no-padding">
                  <div>Created</div>
                  <div><span>12344590</span></div>
               </div>
               <div class="col-sm-3 no-padding">
                  <div>Transactions in Last Block</div>
               </div>
               <div class="col-sm-3 no-padding">
                  <div>Avg Block Time</div>
                  <div><span>966155</span></div>
               </div>
            </div>
         </div>
         <div class="col-sm-12">
            <div class="col-sm-6 no-padding">
               <div>Block Time</div>
               <div><span>1833456</span></div>
            </div>
            <div class="col-sm-6 no-padding">
               <div>Transactions Per Block - Graph</div>
            </div>
         </div>
         <div class1="col-md-12">
            <div class="box">
               <div class="box-header with-border">
                  <h3 class="box-title">Block chain explorer</h3>
                  <div class="box-tools pull-right">
                     <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                     </button>
                  </div>
               </div>
               <div class="box-body no-padding">
                  <div class="col-sm-12">Content goes here</div>
               </div>
            </div>
         </div>
      </div>
   </section>
</div>