<h1 align="center">Payment Initation</h1>
<div class="row">
    <div class=" col-md-6">
        <div class="small-box bg-aqua">
            <div class="inner">
                <h1>150</h1>
                <p>Number of anchor program</p>
            </div>
            <div class="icon"></div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="small-box bg-green">
            <div class="inner">
                <h1>53</h1>
                <p>Number of Anchor program pending payment nitation</p>
            </div>
            <div class="icon"></div>
        </div>
    </div>
    <br>
    <br>


    <div class="col-md-6">
        <div class="small-box bg-orange">
            <div class="inner">
                <h1>44</h1>
                <p>Total amount of paending Payment Initation </p>
            </div>
            <div class="icon"></div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="small-box bg-red">
            <div class="inner">
                <h1>63</h1>
                <p>average time taken for initiating payment</p>
            </div>
            <div class="icon"></div>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary box-slid">
    <div class="box">
        
            <div class="box-header with-border">
            <h4 class="box-title">Initiate Payment</h4>
        </div>
    
 <div class="box-header-btm">
<table class="table">
        <tr>
            <th>Vendor Name</th>
            <th>Amount</th>
            <th>Payment Mode</th>
            <th>Bank</th>
            <th>Invoice</th>
            <th>PO</th>
            <th>IFSC Code</th>
            <th>Select Program Id</th>

        </tr>
</table>
</div>
   </div>
   </div>
</div>
</div>
<div class="col-md-6-header">
<h4>Initiating Payment</h4>
</div>
   <div class="col-md-6-btm">
<div class="form-group"><br>
    <label class="col-sm-3">Vendor Name</label>
   <input type="email" class="col-sm-4" id="inputEmail"
      placeholder="Vendor Name"><br>
</div><br>
<div class="form-group">
     <label class="col-sm-3">Recievable Amount</label>
   <input type="password" class="col-sm-4" id="inputpassword"
      placeholder="Recievable Amount"><br>
</div><br>
<div class="form-group">
    <label class="col-sm-3">Discounted Amount</label>
   <input type="password" class="col-sm-4" id="inputpassword"
      placeholder="Discounted Amount"><br>
</div><br>
<div class="form-group">
     <label class="col-sm-3">Payment Mode</label>
   <input type="password" class="col-sm-4" id="inputpassword"
      placeholder="NEFT"><br>
</div><br>
<div class="form-group">
    <label class="col-sm-3">Bank</label>
   <input type="password" class="col-sm-4" id="inputpassword"
      placeholder="Bank"><br>
</div><br>
<div class="btn">
<button type="submit" >Accept</button>

</div>
      </div>          
