<br>
<br>
<h3 align="center">Vendor Sign Purchase Order</h3>


<br>

<br>
<div class="col-sm-11">
    {{models-table data=model columns=columns}}

</div>
<br>
<br>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <div class="vendor-ok">

            <button type="submit">OK</button>
        </div>
    </div>
    <br>
    <div class="vendor-cancel">
        <button type="submit">cancel</button>
    </div>

</div>