<h3 align="center">Vendor Sign Purchase Order</h3>


<br>
{{models-table
        data=model
        columns=columns}}<br>



<p style="color: blue">
    <button type="submit">OK</button>
    <button type="submit">cancel</button>
</p>
{{outlet}}