<h3 align="center">Vendor Sign Purchase Order</h3>
 <div class="col-sm-12">
      <input type="text"  id="inputFname" placeholder="search by anchor programID">
   </div><br><br>
   <table class="table">
       <tr>
          <td class="ng-binding">Anchor Program ID</td>
          <td>Anchor Name</td>
           <td>PO ID</td>
           </tr>
           </table><br><br>
           <p style="color: blue">
   <button type="submit" style="text-align: white">OK</button>
</p>
<p style="color: blue">
   <button type="submit" style="text-align: white">cancel</button>
</p>