<h3 align="center">Vendor Sign Purchase Order</h3>
<<<<<<< HEAD


=======
<div class="col-sm-14">
    <input type="text" id="inputFname" placeholder="search by anchor programID">
</div>
<br>
>>>>>>> 718f4175a544ef1f769b6aa06329c29458384352
<br>
{{models-table
        data=model
        columns=columns}}<br>



<<<<<<< HEAD
<p style="color: blue">
=======
    <tr>
        <td>PG4633479</td>
        <td>Bajaj Electricals Limited</td>
        <td>484989</td>
    </tr>
</table>
<br>
<br>

    <div class="vendor-ok">
>>>>>>> 718f4175a544ef1f769b6aa06329c29458384352
    <button type="submit">OK</button>
    </div>
     <div class="vendor-cancel">
    <button type="submit">cancel</button>
    </div>
{{outlet}}