<br>
<br>
<h3 align="center">Register a new vendor membership</h3>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <input type="fname" id="inputFname" placeholder="First Name">
    </div>
    <div class="col-sm-6">
        <input type="lname" id="inputLname" placeholder="Last Name">
    </div>
</div>
<br>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <input type="bname" id="inputbname" placeholder="Bank Name">
    </div>
    <div class="col-sm-6">
        <input type="anumber" id="inputAnumber" placeholder="Account Number">
    </div>
</div>
<br>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <input type="icode" id="inputIcode" placeholder="IFC limit">
    </div>
    <div class="col-sm-6">
        <input type="limit" id="inputLimit" placeholder="Limit">
    </div>
</div>
<br>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <input type="edate" id="inputEdate" placeholder="Expiry Date">
    </div>
    <div class="col-sm-6">
        <input type="pnumber" id="inputPnumber" placeholder="Phone Number">
    </div>
</div>
<br>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <input type="pan" id="inputPan" placeholder="PAn">
    </div>
    <div class="col-sm-6">
        <input type="address" id="inputAddress" placeholder="Address">
    </div>
</div>
<br>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <input type="scode" id="inputScode" placeholder="Supplier Code">
    </div>
    <div class="col-sm-6">
        <input type="lmark" id="inputLmark" placeholder="Land mark">
    </div>
</div>
<br>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <input type="vbaddress" id="inputVbaddress" placeholder="Vendor Bank Address">
    </div>
    <div class="col-sm-6">
        <input type="email" id="inputEmail" placeholder="Email">
    </div>
</div>
<br>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <select>
            <option value="sanchor">Select Anchor</option>
        </select>
    </div>
</div>
<br>
<br>
<div class="col-sm-12">
    <div class="col-sm-6">
        <p style="color: blue">
            <button type="submit">Register</button>
        </p>
    </div>
</div>
{{outlet}}