<h3 align="center">Vendor Sign Purchase Order</h3>
<div class="col-sm-12">
    <input type="text" id="inputFname" placeholder="search by anchor programID">
</div>
<br>
<br>
<table class="table">
    <tr>
        <th>Anchor Program ID</th>
        <th>Anchor Name</th>
        <th>PO ID</th>
    </tr>
    <br>

    <tr>
        <td>PG4633479</td>
        <td>Bajaj Electricals Limited</td>
        <td>123456</td>
    </tr>
    <br>


    <tr>
        <td>PG4633479</td>
        <td>Bajaj Electricals Limited</td>
        <td>484989</td>
    </tr>
</table>
<br>
<br>
<p style="color: blue">
    <button type="submit">OK</button>
    <button type="submit">cancel</button>
</p>
{{outlet}}