
<div>

  
    
    <div class="headercolor" id="menu-collapse">
      Rapidqube 
     </div>
     <div id="mySidenav" class="col-sm-3 col-md-2 sidebar"  >
        <br>
</div>
<div id="content" class="col-sm-3 col-md-6" >
{{outlet}}
</div>
</div>













