<h1 align="center">YBLblockchain</h1>
<br>
<div class="login-box">
    <div class="login-box-body">
        <p>Sign in to start your session</p>
        <div class="col-sm-12">
            <div class="left-inner-addon">
                {{input type="text" id="inputEmail" placeholder="Email" class="form-control"}}
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
        </div>
        <br>
        <br>
        <div class="col-sm-12">
            <div class="left-inner-addon">
                {{input type="text" id="inputPassword" placeholder="Password" class="form-control"}}
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>


            </div>
        </div>
        <br>
        <p> <br>
        
        <div class="col-md-12">
            <div class="col-md-6 leftalign">
            {{input type="checkbox" name="NameOfCheckBox" checked=NameOfCheckBox}}  Remember me 
            </div>
            <div class="col-md-6 rightalign">
             <button type="submit" {{action 'home'}}>Sign In</button>
             
             </div>
             </div>
            <br><br>
          
            {{#link-to 'login'}}I forgot my password{{/link-to}}
            <br>
            {{#link-to 'login'}} Register a new membership {{/link-to}}
         
            <br>
            <br>
           
        </p>
    </div>
</div>
