<h1 align="center">YBLblockchain</h1>
 <div class="form-group">
    <input type="email" class="col-sm-4" id="inputEmail"
      placeholder="Email"><br>
  </div>
<div class="form-group">
    <input type="password" class="col-sm-4" id="inputpassword"
      placeholder="Password"><br>
  </div><br>
  <p style="color: blue">
 <input type="checkbox" name="NameOfCheckBox" checked=NameOfCheckBox>Remember me<br>I forgot my password<br>
    Register a new membership<br><br>
    <button type="submit" style="background-color: blue" style="text-align: white" {{action 'register'}}>Sign In</button>
    
  </p>
{{outlet}}